@media screen and (max-width: 370px) {
  /* line 2, ../sass/media.sass */
  .app-container {
    width: 100%;
  }
}
@media screen and (max-width: 321px) {
  /* line 11, ../sass/media.sass */
  .currency-header__item {
    padding-left: 0 !important;
  }

  /* line 14, ../sass/media.sass */
  .currency-header {
    margin-left: -15px !important;
  }
}
