/* line 1, ../sass/screen.sass */
html {
  height: 100%;
}

/* line 4, ../sass/screen.sass */
body * {
  box-sizing: border-box;
}

/* line 7, ../sass/screen.sass */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  color: #fff;
  font-family: "Lato", sans-serif;
  background: #2584ea;
  background: -moz-linear-gradient(45deg, #2584ea 0%, #0f9af0 100%);
  background: -webkit-linear-gradient(45deg, #2584ea 0%, #0f9af0 100%);
  background: linear-gradient(45deg, #2584ea 0%, #0f9af0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2584ea', endColorstr='#0f9af0',GradientType=1 );
}
/* line 22, ../sass/screen.sass */
body > div {
  height: 100%;
}

/* line 25, ../sass/screen.sass */
.page-wrapper {
  flex: 1 0 auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* line 32, ../sass/screen.sass */
.page-footer {
  flex: 0 0 auto;
  background-color: #FFF;
}

/* line 37, ../sass/screen.sass */
button:hover, button:active, button:focus {
  outline: none !important;
}

/* line 40, ../sass/screen.sass */
.app-container {
  width: 375px;
  height: 100%;
  padding-bottom: 275px;
  position: relative;
  box-shadow: 0px 0px 7px 1px #555;
  background: #2584ea;
  background: -moz-linear-gradient(45deg, #2584ea 0%, #0f9af0 100%);
  background: -webkit-linear-gradient(45deg, #2584ea 0%, #0f9af0 100%);
  background: linear-gradient(45deg, #2584ea 0%, #0f9af0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2584ea', endColorstr='#0f9af0',GradientType=1 );
  display: inline-block;
}

/* line 53, ../sass/screen.sass */
.currency-header {
  display: block;
  padding: 10px 5px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 120px;
  margin: 0 auto;
  width: 360px;
}

/* line 63, ../sass/screen.sass */
.currency-header__item {
  display: inline-block;
  position: relative;
  width: 33%;
  width: 120px;
  padding: 10px !important;
  text-align: center;
  letter-spacing: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 75, ../sass/screen.sass */
.currency-header__item:hover {
  cursor: pointer;
}

/* line 78, ../sass/screen.sass */
.currency-header__item-prev {
  position: absolute;
  left: 30%;
  top: 50%;
  display: block;
  transform: translateY(-30%);
  font-size: 9px;
  letter-spacing: 0.5px;
}

/* line 88, ../sass/screen.sass */
.currency-header__item-next {
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-30%);
  display: block;
  font-size: 9px;
  letter-spacing: 0.5px;
}

/* line 98, ../sass/screen.sass */
.currency-header__item-current {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* line 103, ../sass/screen.sass */
.main-container {
  margin: 0 auto;
  height: calc(100% - 40px);
  padding: 10px;
}
/* line 107, ../sass/screen.sass */
.main-container ul {
  height: 100%;
  position: relative;
}

/* line 113, ../sass/screen.sass */
.demoId ul {
  display: block;
  padding: 0;
  position: relative;
  margin: 0;
}
/* line 118, ../sass/screen.sass */
.demoId ul li {
  position: relative;
}

/* line 121, ../sass/screen.sass */
.like-h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
/* line 126, ../sass/screen.sass */
.like-h2 span {
  font-size: 22px;
  margin-right: 20px;
}

/* line 130, ../sass/screen.sass */
.main-container {
  position: relative;
}

/* line 133, ../sass/screen.sass */
.owl2 {
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 138, ../sass/screen.sass */
.owl2 .owl-item {
  opacity: 1;
}

/* line 151, ../sass/screen.sass */
.prev, .next {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  z-index: 10;
  padding: 0;
  top: calc(50% - 120px);
  background-size: 30%;
  background-position: center center;
}
/* line 163, ../sass/screen.sass */
.prev:hover, .next:hover {
  cursor: pointer;
}

/* line 166, ../sass/screen.sass */
.main-container__slide-block {
  position: relative;
}
/* line 168, ../sass/screen.sass */
.main-container__slide-block .qr-block {
  outline: 1px solid #000;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  height: 30px;
  background: url("../img/qr.jpg") no-repeat;
  background-size: cover;
}

/* line 178, ../sass/screen.sass */
.main-container__slide {
  overflow-y: hidden !important;
}

/* line 181, ../sass/screen.sass */
ul li {
  display: inline-block;
}

/* line 184, ../sass/screen.sass */
ul .dragend-page {
  padding: 10px !important;
}

/* line 187, ../sass/screen.sass */
.history-data {
  font-size: 14px;
  color: #ccc;
}

/* line 191, ../sass/screen.sass */
.ui-loader {
  display: none;
}

/* line 194, ../sass/screen.sass */
.main-container__buttons {
  text-align: center;
  margin: 0px auto;
  z-index: 100;
}

/* line 199, ../sass/screen.sass */
.main-container__button {
  display: inline-block;
  color: #fff;
  position: relative;
  height: 60px;
  border: none;
  line-height: 1.5;
  font-size: 12px;
  padding-top: 40px;
  background-color: transparent;
  width: 80px;
  margin: 0 10px;
}
/* line 211, ../sass/screen.sass */
.main-container__button.main-container__qr {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-bottom: 10px;
}
/* line 216, ../sass/screen.sass */
.main-container__button img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 220, ../sass/screen.sass */
.main-container__button:hover {
  cursor: pointer;
}
/* line 224, ../sass/screen.sass */
.main-container__button:last-child {
  margin: 0 35px 10px 20px;
}
/* line 226, ../sass/screen.sass */
.main-container__button:last-child:hover {
  cursor: none;
}
/* line 228, ../sass/screen.sass */
.main-container__button::after {
  position: absolute;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
}

/* line 239, ../sass/screen.sass */
.main-container__topUp::after {
  background: #0D83DE url("../img/plus.svg") no-repeat;
  background-position: center center;
  background-size: 60%;
}

/* line 244, ../sass/screen.sass */
.main-container__exchange::after {
  background: #0D83DE url("../img/exchange.svg") no-repeat;
  background-position: center center;
  background-size: 60%;
}

/* line 249, ../sass/screen.sass */
.transac-history {
  border-top: 1px solid #fff;
  margin: 0 auto;
  position: relative;
  padding: 0 10px 2px 10px;
  background: #fff;
  color: #000;
}

/* line 258, ../sass/screen.sass */
.transac-history__title {
  display: inline-block;
  width: calc(100% + 20px);
  margin: 0 -10px 5px -10px;
  padding: 10px 100px 10px 10px;
  background-color: #eee;
}

/* line 265, ../sass/screen.sass */
.transac-history__all, .transac-history__hide {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 269, ../sass/screen.sass */
.transac-history__all:hover, .transac-history__hide:hover {
  cursor: pointer;
}

/* line 272, ../sass/screen.sass */
.show-history.app-footer {
  top: 0;
  height: 100%;
}
/* line 275, ../sass/screen.sass */
.show-history.app-footer .transac-history {
  height: 100%;
}
/* line 277, ../sass/screen.sass */
.show-history.app-footer .transac-show {
  display: none;
}
/* line 279, ../sass/screen.sass */
.show-history.app-footer .transac-hide {
  display: block;
}

/* line 282, ../sass/screen.sass */
.transac-hide {
  display: none;
}

/* line 285, ../sass/screen.sass */
.transac-history__image {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border: 2px solid #0D83DE;
  border-radius: 50%;
}
/* line 293, ../sass/screen.sass */
.transac-history__image.spent {
  background: url("../img/money.svg") no-repeat;
  background-position: center center;
  background-size: 70%;
}
/* line 297, ../sass/screen.sass */
.transac-history__image.exchange {
  background: url("../img/exchange-mon.svg") no-repeat;
  background-position: center center;
  background-size: 60%;
}
/* line 301, ../sass/screen.sass */
.transac-history__image.topUp {
  background: url("../img/moneyAdd.svg") no-repeat;
  background-position: center center;
  background-size: 70%;
}

/* line 306, ../sass/screen.sass */
.transac-history__element {
  position: relative;
  padding: 5px 0 5px 0;
  text-align: left;
}

/* line 313, ../sass/screen.sass */
.transac-history__category {
  display: inline-block;
  font-weight: bold;
}

/* line 317, ../sass/screen.sass */
.transac-history__value {
  position: absolute;
  right: 10px;
  top: 15px;
}

/* line 322, ../sass/screen.sass */
.transac-history__time {
  font-size: 12px;
  line-height: 1.5;
}

/* line 326, ../sass/screen.sass */
.app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 200px;
  width: 100%;
}

/* line 334, ../sass/screen.sass */
.exchange-screen {
  display: none;
}

/* line 338, ../sass/screen.sass */
.bootstrap-select > select {
  left: 0;
}

/* line 341, ../sass/screen.sass */
.bs-caret {
  position: absolute;
  right: 10px;
  top: 50%;
}

/* line 346, ../sass/screen.sass */
.exchange-header {
  letter-spacing: -0.36em;
  max-height: 42px;
}
/* line 352, ../sass/screen.sass */
.exchange-header .ui-select span {
  display: none;
}
/* line 354, ../sass/screen.sass */
.exchange-header select {
  display: block;
  border-radius: 0 !important;
  border: none;
  width: 100%;
  color: #000;
  font-weight: bold;
  padding: 12px 5px 10px 5px;
  background-color: #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-align-last: center !important;
  padding-left: calc(50% - 1em);
  -webkit-padding-left: 10px;
}
/* line 370, ../sass/screen.sass */
.exchange-header select option {
  text-align: center;
  border-radius: 5px !important;
}
/* line 373, ../sass/screen.sass */
.exchange-header select:hover, .exchange-header select:active, .exchange-header select:focus {
  outline: none !important;
}

/* line 376, ../sass/screen.sass */
.exchange-header__from, .exchange-header__to {
  display: inline-block;
  height: 100%;
  width: 50%;
  width: 49.6%;
  vertical-align: top;
  letter-spacing: normal;
}

/* line 388, ../sass/screen.sass */
.owl-two::after {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 5px;
  height: 5px;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  content: "";
}

/* line 400, ../sass/screen.sass */
.item-head {
  position: relative;
}

/* line 403, ../sass/screen.sass */
.item-head__prev {
  position: absolute;
  top: 50%;
  left: 70px;
  opacity: 0.4;
}

/* line 410, ../sass/screen.sass */
.item-head__current {
  top: 9px;
  position: relative;
}

/* line 415, ../sass/screen.sass */
.item-head__next {
  position: absolute;
  top: 50%;
  right: 70px;
  opacity: 0.5;
}

/* line 421, ../sass/screen.sass */
.exchange-header__from__menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  outline: 1px solid red;
  padding: 10px;
  background-color: #fff;
}
/* line 429, ../sass/screen.sass */
.exchange-header__from__menu div {
  display: block;
  outline: 1px solid green;
}

/* line 433, ../sass/screen.sass */
.exchange-header__rate {
  letter-spacing: normal;
  display: block;
  line-height: 1.5;
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

/* line 443, ../sass/screen.sass */
.exchange-header__to {
  float: right;
}

/* line 446, ../sass/screen.sass */
.exchange-header__change {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  height: 42px;
  z-index: 2;
  margin-left: -20px;
  background: #fff url("../img/exchange-black.svg") no-repeat;
  background-position: center center;
  background-size: 60%;
  box-shadow: inset 0 0 6px 0px #eee;
  display: block;
}
/* line 460, ../sass/screen.sass */
.exchange-header__change:hover {
  cursor: pointer;
}

/* line 464, ../sass/screen.sass */
select:hover {
  cursor: pointer;
}

/* line 467, ../sass/screen.sass */
.special-inpNumber-cont {
  width: 80%;
  display: block;
  max-width: 280px;
  margin: 60px auto;
  position: relative;
}

/* line 474, ../sass/screen.sass */
.special-inpNumber-cont__currency {
  position: absolute;
  max-width: 60px;
  top: 0;
  left: 10px;
  color: #ccc;
  line-height: 40px;
  font-size: 16px;
}

/* line 484, ../sass/screen.sass */
.exchange-content__value {
  display: block;
  width: 100%;
  padding: 10px 15px 10px 65px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: right;
}

/* line 493, ../sass/screen.sass */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/* line 497, ../sass/screen.sass */
.exchange-content__qr-code {
  display: block;
  width: 200px;
  height: 200px;
  border: 4px solid #fff;
  border-radius: 3px;
  margin: 50px auto 40px auto;
}
/* line 504, ../sass/screen.sass */
.exchange-content__qr-code img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 509, ../sass/screen.sass */
.exchange-content__reset {
  display: block;
  width: 80%;
  max-width: 200px;
  padding: 15px;
  text-align: center;
  color: #fff;
  z-index: 5;
  background-color: #0077CC;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 521, ../sass/screen.sass */
.exchange-content__reset:hover {
  cursor: pointer;
}

/* line 524, ../sass/screen.sass */
.owl-item {
  text-align: center;
  opacity: 0.2;
}

/* line 528, ../sass/screen.sass */
.owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 0px;
}

/* line 535, ../sass/screen.sass */
.owl-prev {
  display: block;
  width: 50px;
  display: inline-block;
  height: 50px;
  left: 20px;
  visibility: hidden;
}
/* line 542, ../sass/screen.sass */
.owl-prev::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 50px;
  visibility: visible;
  height: 50px;
  display: block;
  background: url("../img/back.svg") no-repeat;
  background-size: 50%;
  background-position: center center;
}

/* line 555, ../sass/screen.sass */
.owl-next {
  display: block;
  width: 50px;
  display: inline-block;
  height: 50px;
  right: 20px;
  left: auto;
  visibility: hidden;
}
/* line 563, ../sass/screen.sass */
.owl-next::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 50px;
  visibility: visible;
  height: 50px;
  display: block;
  background: url("../img/next.svg") no-repeat;
  background-size: 50%;
  background-position: center center;
}

/* line 577, ../sass/screen.sass */
.owl-dots {
  display: none;
}

/* line 580, ../sass/screen.sass */
.owl-two {
  height: 100%;
}
/* line 583, ../sass/screen.sass */
.owl-two .owl-stage {
  height: 100%;
}
/* line 585, ../sass/screen.sass */
.owl-two .owl-stage-outer {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 589, ../sass/screen.sass */
.owl-two .owl-item {
  opacity: 1;
  width: 100%;
  height: 100%;
}
/* line 593, ../sass/screen.sass */
.owl-two .item {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 598, ../sass/screen.sass */
.owl-two .like-h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 50%;
}

/* line 607, ../sass/screen.sass */
.owl-item.active.center {
  opacity: 1;
}

/* line 613, ../sass/screen.sass */
.header-currency {
  position: relative;
  height: 40px;
}
/* line 618, ../sass/screen.sass */
.header-currency::after {
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 5px;
  height: 5px;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  content: "";
}
/* line 631, ../sass/screen.sass */
.header-currency .item div {
  font-weight: bold;
  line-height: 40px;
}

/* line 646, ../sass/screen.sass */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 657, ../sass/screen.sass */
.dropup, .dropdown {
  position: relative;
}

/* line 660, ../sass/screen.sass */
.dropdown-toggle:focus {
  outline: 0;
}

/* line 663, ../sass/screen.sass */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* line 684, ../sass/screen.sass */
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
/* line 687, ../sass/screen.sass */
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
/* line 693, ../sass/screen.sass */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
}
/* line 701, ../sass/screen.sass */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
/* line 705, ../sass/screen.sass */
.dropdown-menu > .active > a {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
/* line 710, ../sass/screen.sass */
.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
/* line 715, ../sass/screen.sass */
.dropdown-menu > .disabled > a {
  color: #777;
}
/* line 717, ../sass/screen.sass */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777;
}
/* line 719, ../sass/screen.sass */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* line 727, ../sass/screen.sass */
.open > .dropdown-menu {
  display: block;
}
/* line 729, ../sass/screen.sass */
.open > a {
  outline: 0;
}

/* line 732, ../sass/screen.sass */
.dropdown-menu-right {
  right: 0;
  left: auto;
}

/* line 736, ../sass/screen.sass */
.dropdown-menu-left {
  right: auto;
  left: 0;
}

/* line 741, ../sass/screen.sass */
.dropdown {
  position: relative;
  border-radius: 0;
}
/* line 748, ../sass/screen.sass */
.dropdown li {
  width: 100%;
  margin-bottom: 5px;
}
/* line 751, ../sass/screen.sass */
.dropdown a, .dropdown a:hover, .dropdown a:active, .dropdown a:focus {
  text-decoration: none;
}
/* line 753, ../sass/screen.sass */
.dropdown button {
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 0;
}

/* line 760, ../sass/screen.sass */
.bootstrap-select {
  max-width: 100%;
}

/* line 762, ../sass/screen.sass */
.bootstrap-select.btn-group .dropdown-toggle {
  outline: none !important;
  overflow: hidden;
  height: 42px;
  max-width: 100%;
}
/* line 767, ../sass/screen.sass */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  text-align: center;
  padding: 12px 0;
}

/* line 775, ../sass/screen.sass */
.exchange-header__from .bs-caret {
  margin-right: 10px;
}

/* line 785, ../sass/screen.sass */
.invoice-list__container {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

/* line 795, ../sass/screen.sass */
.invoice-list {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
}

/* line 803, ../sass/screen.sass */
.invoice-list__title {
  color: #000;
  text-align: center;
  margin: 40px auto 40px auto;
}

/* line 808, ../sass/screen.sass */
.invoice-list__button {
  padding: 15px 0px;
  margin: 50px auto 20px auto;
  display: block;
  border-radius: 3px;
  color: #fff;
  max-width: 200px;
  text-align: center;
  background-color: #2584ea;
}
/* line 818, ../sass/screen.sass */
.invoice-list__button:hover {
  cursor: pointer;
}

/* line 821, ../sass/screen.sass */
.invoice-list__row {
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 0;
  letter-spacing: -0.36em;
}

/* line 826, ../sass/screen.sass */
.invoice-list__cell {
  width: 50%;
  line-height: 2;
  display: inline-block;
  letter-spacing: normal;
  padding: 0 20px;
  font-weight: bold;
}
/* line 833, ../sass/screen.sass */
.invoice-list__cell:last-child {
  text-align: right;
  color: #2584ea;
}

/* line 838, ../sass/screen.sass */
.scan-code-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 11;
  display: none;
}

/* line 849, ../sass/screen.sass */
.scan-code {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  height: 100%;
  color: #000;
  text-align: center;
}

/* line 858, ../sass/screen.sass */
.scan-code__title {
  margin: 40px auto 60px auto;
}

/* line 861, ../sass/screen.sass */
.scan-code__window {
  display: block;
  background-color: #eee;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}

/* line 869, ../sass/screen.sass */
.scan-code__button {
  margin: 70px auto;
  background-color: #2584ea;
  max-width: 200px;
  padding: 15px 0;
  color: #fff;
  border-radius: 3px;
}
/* line 876, ../sass/screen.sass */
.scan-code__button:hover {
  cursor: pointer;
}

/* line 879, ../sass/screen.sass */
button:hover, a:hover {
  cursor: pointer;
}
