html
  height: 100%

body *
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  max-width: 100%
  overflow-x: hidden
  color: #fff
  font-family: 'Lato', sans-serif
  // background-color: #eee
  background: #2584ea
  background: -moz-linear-gradient(45deg, #2584ea 0%, #0f9af0 100%)
  background: -webkit-linear-gradient(45deg, #2584ea 0%,#0f9af0 100%)
  background: linear-gradient(45deg, #2584ea 0%,#0f9af0 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2584ea', endColorstr='#0f9af0',GradientType=1 )
  &>div
    height: 100%

.page-wrapper
  flex: 1 0 auto
  display: flex
  height: 100%
  justify-content: center
  align-items: center

.page-footer
  flex: 0 0 auto
  background-color: #FFF

button
  &:hover, &:active, &:focus
    outline: none !important

.app-container
  width: 375px
  height: 100%
  padding-bottom: 200px
  // padding: 0 10px
  position: relative
  // min-height: 100vh
  box-shadow: 0px 0px 7px 1px #555
  background: #2584ea
  background: -moz-linear-gradient(45deg, #2584ea 0%, #0f9af0 100%)
  background: -webkit-linear-gradient(45deg, #2584ea 0%,#0f9af0 100%)
  background: linear-gradient(45deg, #2584ea 0%,#0f9af0 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2584ea', endColorstr='#0f9af0',GradientType=1 )
  display: inline-block
  // outline: 1px solid red

.currency-header
  // outline: 1px solid blue
  display: block
  padding: 10px 5px
  // letter-spacing: -.36em
  white-space: nowrap
  overflow-x: scroll
  overflow-y: hidden
  padding: 0 120px
  margin: 0 auto
  width: 360px

.currency-header__item
  // outline: 1px solid green
  display: inline-block
  position: relative
  width: 33%
  width: 120px
  padding: 10px !important
  text-align: center
  letter-spacing: normal
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:hover
    cursor: pointer

.currency-header__item-prev
  position: absolute
  left: 30%
  // left: 10px
  top: 50%
  display: block
  transform: translateY(-30%)
  font-size: 9px
  letter-spacing: 0.5px

.currency-header__item-next
  position: absolute
  right: 30%
  // right: 10px
  top: 50%
  transform: translateY(-30%)
  display: block
  font-size: 9px
  letter-spacing: 0.5px

.currency-header__item-current
  font-weight: bold
  font-size: 16px
  letter-spacing: 0.5px

.main-container
  // outline: 2px solid red
  border-top: 1px solid #fff
  margin: 0 auto
  height: 100%
  padding: 10px
  // height: 290px
  ul
    height: 100%
    position: relative

.demoId
  position: relative
  ul
    display: block
    padding: 0
    position: relative
    margin: 0

.like-h2
  font-size: 30px
  font-weight: bold
  margin: 60px auto 100px auto
  text-align: center
  span
    font-size: 22px


.prev
  left: 20px
  background: url("../img/double-left-chevron.svg") no-repeat

.next
  right: 20px
  background: url("../img/double-angle-pointing-to-right.svg") no-repeat

.prev, .next
  position: absolute
  display: block
  width: 50px
  height: 50px
  border: none
  z-index: 10
  padding: 0
  top: 30%
  background-size: 30%
  background-position: center center
  &:hover
    cursor: pointer

.main-container__slide-block
  position: relative
  .qr-block
    outline: 1px solid #000
    position: absolute
    right: 10px
    top: 5px
    width: 30px
    height: 30px
    background: url("../img/qr.jpg") no-repeat
    background-size: cover

ul li
  display: inline-block

ul .dragend-page
  padding: 10px !important

.history-data
  font-size: 14px
  color: #ccc

.ui-loader
  display: none

.main-container__buttons
  text-align: center
  margin: 0px auto

.main-container__button
  display: inline-block
  color: #fff
  position: relative
  border: none
  line-height: 1.5
  font-size: 12px
  background-color: transparent
  width: 80px
  &:hover
    cursor: pointer
  &:first-child
    margin-right: 40px
  &::after
    position: absolute
    border-radius: 50%
    display: block
    height: 40px
    width: 40px
    top: -45px
    left: 50%
    transform: translateX(-50%)
    content: ''

.main-container__topUp::after
  background: #0D83DE url("../img/plus.svg") no-repeat
  background-position: center center
  background-size: 60%

.main-container__exchange::after
  background: #0D83DE url("../img/exchange.svg") no-repeat
  background-position: center center
  background-size: 60%

.transac-history
  // outline: 1px solid green
  border-top: 1px solid #fff
  margin: 0 auto
  position: relative
  padding: 0 10px 2px 10px
  background: #fff
  color: #000

.transac-history__title
  display: inline-block
  width: calc(100% + 20px)
  margin: 0 -10px 5px -10px
  padding: 10px 100px 10px 10px
  background-color: #eee

.transac-history__all
  position: absolute
  right: 10px
  top: 10px
  &:hover
    cursor: pointer

.transac-history__image
  display: inline-block
  float: left
  margin-right: 10px
  width: 35px
  height: 35px
  border: 2px solid #0D83DE
  border-radius: 50%
  &.spent
    background: url("../img/money.svg") no-repeat
    background-position: center center
    background-size: 70%
  &.exchange
    background: url("../img/exchange-mon.svg") no-repeat
    background-position: center center
    background-size: 60%
  &.topUp
    background: url("../img/moneyAdd.svg") no-repeat
    background-position: center center
    background-size: 70%

.transac-history__element
  // outline: 1px solid #ccc
  position: relative
  // min-height: 50px
  padding: 5px 0 5px 0
  text-align: left

.transac-history__category
  display: inline-block
  font-weight: bold

.transac-history__value
  position: absolute
  right: 10px
  top: 15px

.transac-history__time
  font-size: 12px
  line-height: 1.5

.app-footer
  position: absolute
  bottom: 0
  left: 0
  height: 200px
  width: 100%

.exchange-screen
  display: none


.exchange-header
  // outline: 1px solid red
  // height: 40px
  // background-color: #fff
  letter-spacing: -.36em
  .ui-select span
    display: none
  select
    display: block
    border-radius: 0 !important
    border: none
    width: 100%
    color: #000
    font-weight: bold
    padding: 12px 5px 10px 5px
    background-color: #fff
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    text-align-last: center !important
    padding-left: calc(50% - 1em)
    option
      text-align: center
      border-radius: 5px !important
    &:hover, &:active, &:focus
      outline: none !important

.exchange-header__from, .exchange-header__to
  display: inline-block
  height: 100%
  width: 50%
  letter-spacing: normal

.exchange-header__rate
  letter-spacing: normal
  display: block
  line-height: 1.5
  font-size: 14px
  padding: 5px
  border-bottom: 1px solid rgba(255,255,255,0.2)
  // border-radius: 5px
  text-align: center

.exchange-header__to
  float: right

.exchange-header__change
  position: absolute
  top: 0
  left: 50%
  width: 40px
  height: 40px
  z-index: 2
  margin-left: -20px
  background: url("../img/exchange-black.svg") no-repeat
  background-position: center center
  background-size: 60%
  box-shadow: inset 0 0 6px 0px #eee
  display: block
  &:hover
    cursor: pointer

select
  &:hover
    cursor: pointer

.special-inpNumber-cont
  width: 80%
  display: block
  max-width: 280px
  margin: 60px auto
  position: relative

.special-inpNumber-cont__currency
  position: absolute
  max-width: 60px
  top: 0
  left: 0
  color: #ccc
  line-height: 40px
  padding-left: 10px
  font-size: 16px

.exchange-content__value
  display: block
  width: 100%
  padding: 10px 10px 10px 60px
  border: 1px solid #ccc
  border-radius: 3px
  text-align: right


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  opacity: 1

.exchange-content__qr-code
  display: block
  width: 200px
  height: 200px
  border: 4px solid #fff
  border-radius: 3px
  margin: 50px auto 40px auto
  img
    width: 100%
    height: 100%
    display: block

.exchange-content__reset
  display: block
  width: 80%
  max-width: 200px
  padding: 15px
  text-align: center
  color: #fff
  z-index: 5
  background-color: #0077CC
  margin: 0 auto
  border-radius: 3px
  border: 1px solid rgba(255,255,255,0.2)
  &:hover
    cursor: pointer
